body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

form {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
}

input {
  display: block;
}
